{% extends "base.html" %}

{% block variables %}
{% endblock %}

{% block content %}
<div id="aboutwrap">
    <div>
        A tool for searching papers published in top venues in computer vision and machine learning based on the arxiv-sanity-lite.
    </div>

    <br>
    <div>
        This particular instance indexes papers from CVPR, ICCV, ECCV, ACCV, BMVC, WACV, NeurIPS, and ICML from 2010 onwards
    </div>

    <br>
    <div>The code for the arxiv-sanity-lite website is open source at Github under <a href="https://github.com/karpathy/arxiv-sanity-lite">arxiv-sanity-lite</a>.</div>

    <br>
    <div>Developed by <a href="https://twitter.com/karpathy">@karpathy</a> modified by <a href="https://github.com/ykotseruba">ykotseruba</a>.</div>
</div>
{% endblock %}

{% block elements %}
{% endblock %}
